* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container {
    width: 100%;
  }
  
  a {
    text-decoration: none;
    color: #fffefb;
  }

  li {
    list-style: none;
  }
  
  @font-face {
    font-family: DMSans-normal;
    src: url(./fonts/DMSans-Regular.ttf);
  }
  
  @font-face {
    font-family: Rosario;
    src: url(./fonts/Rosario-Bold.ttf);
  }
  
  body {
    font-family: 'DMSans-normal';
    font-weight: 400;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    color: $light-text;
  }