// color-backgrounds

$dark-green: #09A66D;
$background-light: #C9C9C9;
$light-green: #F3FBF8;
$footer-background: #FCFEFD;

// text-color

$dark-text: #222222;
$light-text: #555555;

// arrow-color-grey 

$icon-color: #CCCCCC;