// color-backgrounds

$dark-blue: #32373f;
$background-light: #9ca3ad;
$light-grey: #757b85;
$light-background: #fffffb;

// text-color

$dark-text: rgb(50,55,63);
$light-text: #fffffb;

// arrow-color-grey 

$icon-color: #fffffb;