@media (max-width:768px) {

    .header {
        background: linear-gradient(90deg, rgba(169,179,186,0.6923144257703081) 1%, rgba(218,217,214,0.6699054621848739) 3%, rgba(252,249,244,0.7651435574229692) 5%, rgba(217,219,218,0.9640231092436975) 7%, rgba(177,185,196,0.9528186274509804) 11%, rgba(117,123,133,0.9612219887955182) 58%, rgba(148,146,150,0.9948354341736695) 94%, rgba(169,179,186,0.5298494397759104) 98%);
    }
   
    .header-navbar-hamburger {
        display: block;
    }

    .header-navbar-hamburger.active .header-navbar-hamburger-bar:nth-child(2) {
        opacity: 0;
    }

    .header-navbar-hamburger.active .header-navbar-hamburger-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .header-navbar-hamburger.active .header-navbar-hamburger-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header-navbar-menu {
        position: fixed;
        left: -100%;
        top: 55px;
        gap: 0;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(169,179,186,0.6923144257703081) 1%, rgba(218,217,214,0.6699054621848739) 3%, rgba(252,249,244,0.7651435574229692) 5%, rgba(217,219,218,0.9640231092436975) 7%, rgba(177,185,196,0.9528186274509804) 11%, rgba(117,123,133,0.9612219887955182) 58%, rgba(148,146,150,0.9948354341736695) 94%, rgba(169,179,186,0.5298494397759104) 98%);
        opacity: 45;
        width: 100%;
        text-align: center;
        transition: 0.5s;
        z-index: 1;
    }

    .header-navbar-menu-item {
        margin: 16px 0;
    }

    .header-navbar-menu.active {
        left: 0;
    }  
}  



