@media(max-width:768px) {
    
    .header-navbar-hamburger {
        display: block;
    }

    .header-navbar-hamburger.active .header-navbar-hamburger-bar:ntn-child(2) {
        opacity: 0;
    }

    .header-navbar-hamburger.active .header-navbar-hamburger-bar:ntn-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .header-navbar-hamburger.active .header-navbar-hamburger-bar:ntn-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header-navbar-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: burlywood;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .header-navbar-menu-item {
        margin: 16px 0;
    }

    .header-navbar-menu.active {
        left: 0;
    }

}    